@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  background-color: #fffcfa;
}

h2 {
  color: #23303e;
  font-size: 2rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

p {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 2rem;
  line-height: 1.7;
  font-size: 18px;
}

a {
  font-weight: 900;
  letter-spacing: 1px;
  color: #23303e;
  z-index: 1;
  font-size: 15px;
  font-family: 'Fraunces', serif;
  text-decoration: none;
  color: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container .home {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .home .navbar {
  z-index: 2;
  width: 100%;
  position: absolute;
  padding: 2rem 1.5rem 0 1.5rem;
}

.container .home .navbar .wrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .home .navbar .wrapper .aktif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .home .navbar .wrapper ul {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  padding: 2.5rem 0;
  background-color: white;
  margin-top: 4.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .home .navbar .wrapper ul #arrow-left {
  top: -2rem;
  right: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid white;
}

.container .home .navbar .wrapper ul li {
  list-style: none;
  margin-bottom: 2.5rem;
}

.container .home .navbar .wrapper ul li a {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  color: #5a636c;
}

.container .home .navbar .wrapper ul li .contact {
  background-color: #fad400;
  padding: 20px 26px;
  border-radius: 28px;
}

.container .home .navbar .wrapper ul .li_con {
  margin-bottom: 1rem;
}

.container .home .navbar .wrapper .logo {
  height: 100%;
  cursor: pointer;
}

.container .home .navbar .wrapper .ham {
  height: 100%;
  cursor: pointer;
}

.container .home #bgM {
  display: block;
  width: 100%;
}

.container .home #bgD {
  display: none;
}

.container .home .isi_home {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .home .isi_home h1 {
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.4rem;
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
  padding-top: 9rem;
}

.container .home .isi_home #arrow {
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .home .isi_home #arrow:hover {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.container .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container .more .imgM {
  display: block;
  width: 100%;
}

.container .more .imgD {
  display: none;
}

.container .more .isi_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4rem 1.5rem;
}

.container .more .isi_more .transform {
  opacity: 0.3;
  z-index: 0;
  background-color: #fad400;
  height: 10px;
  width: 136px;
  border-radius: 5px;
  position: absolute;
  bottom: 3.875rem;
}

.container .more .isi_more .stand {
  opacity: 0.3;
  z-index: 0;
  background-color: #fe7867;
  height: 10px;
  width: 136px;
  border-radius: 5px;
  position: absolute;
  bottom: 3.875rem;
}

.container .wrap_graphicnphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrap_graphicnphoto .graphicnphoto {
  position: relative;
}

.container .wrap_graphicnphoto .graphicnphoto .imgM {
  display: block;
  width: 100%;
}

.container .wrap_graphicnphoto .graphicnphoto .imgD {
  display: none;
}

.container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  z-index: 1;
  position: absolute;
}

.container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto h2 {
  font-size: 1.75rem;
  color: #25564b;
}

.container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto p {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 3.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  color: #19536b;
}

.container .testi h3 {
  padding-top: 4rem;
  font-size: 1rem;
  font-family: 'Fraunces', serif;
  text-align: center;
  letter-spacing: 4px;
  color: #a7abae;
  text-transform: uppercase;
}

.container .testi .card_testi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .testi .card_testi .isi_testi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.5rem;
  padding: 0 1.5rem;
}

.container .testi .card_testi .isi_testi img {
  text-align: center;
  width: 4.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.container .testi .card_testi .isi_testi p {
  text-align: center;
  color: #5a636c;
  font-size: 1.125rem;
}

.container .testi .card_testi .isi_testi h4 {
  font-weight: 900;
  text-align: center;
  color: #23303e;
  font-family: 'Fraunces', serif;
  font-size: 1.125rem;
}

.container .testi .card_testi .isi_testi h5 {
  font-size: .875rem;
  text-align: center;
  padding-top: 0.75rem;
  font-family: 'Barlow', sans-serif;
  color: #a7abae;
}

.container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 100%;
  margin-top: 5.5rem;
}

.container .gallery .imgM {
  display: block;
  max-width: 100%;
}

.container .gallery .imgD {
  display: none;
}

.container .footer {
  padding-bottom: 4.75rem;
  padding-top: 4.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #91d4c6;
}

.container .footer .logo {
  width: 170px;
  color: #25564b;
  fill: #25564b;
  margin-bottom: 2.5rem;
}

.container .footer .nav_butt {
  margin-bottom: 5.5rem;
}

.container .footer .nav_butt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .footer .nav_butt ul li {
  list-style: none;
}

.container .footer .nav_butt ul li a {
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  color: #458c7e;
}

.container .footer .nav_butt ul li .services {
  padding: 0 3rem;
}

.container .footer .sosmed {
  cursor: pointer;
  width: 100%;
  padding: 0 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .container {
    overflow-x: hidden;
  }
  .container .home .navbar {
    padding: 0;
  }
  .container .home .navbar .wrapper {
    padding: 45px 50px 0 40px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .container .home .navbar .wrapper .logo {
    position: relative;
    width: 170px;
    margin-right: 400px;
  }
  .container .home .navbar .wrapper .ham {
    display: none;
  }
  .container .home .navbar .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
    padding: 0;
    margin-top: 45px;
    opacity: 1;
    visibility: visible;
    background-color: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .home .navbar .wrapper ul #arrow-left {
    display: none;
  }
  .container .home .navbar .wrapper ul li {
    list-style: none;
    margin-bottom: 0;
  }
  .container .home .navbar .wrapper ul li a {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: white;
  }
  .container .home .navbar .wrapper ul li .contact {
    background-color: white;
    padding: 20px 26px;
    border-radius: 30px;
    color: #5a636c;
  }
  .container .home .navbar .wrapper ul .li_con {
    margin-bottom: 0;
  }
  .container .home #bgM {
    display: none;
  }
  .container .home #bgD {
    display: block;
    width: 100%;
  }
  .container .home .isi_home h1 {
    font-size: 3.75rem;
    margin-bottom: 6rem;
    padding-top: 12.5rem;
  }
  .container #transform .imgD {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container #transform .isi_more {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .container .more {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .more .imgM {
    display: none;
  }
  .container .more .imgD {
    display: block;
    width: 100%;
    height: auto;
  }
  .container .more .isi_more {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 0 2rem 0 5rem;
    margin: auto;
  }
  .container .more .isi_more h2 {
    font-size: 39px;
    padding-bottom: 40px;
  }
  .container .more .isi_more p {
    padding-bottom: 46px;
    line-height: 1.7;
    font-size: 18px;
  }
  .container .more .isi_more a {
    font-size: 15px;
  }
  .container .more .isi_more .transform {
    bottom: -.125rem;
    left: 4.5rem;
  }
  .container .more .isi_more .stand {
    bottom: -.125rem;
    left: 4.5rem;
  }
  .container .wrap_graphicnphoto {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .wrap_graphicnphoto .graphicnphoto {
    width: 100%;
  }
  .container .wrap_graphicnphoto .graphicnphoto .imgM {
    display: none;
  }
  .container .wrap_graphicnphoto .graphicnphoto .imgD {
    display: block;
    width: 100%;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto {
    bottom: 0;
    z-index: 1;
    position: absolute;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto h2 {
    font-size: 1.75rem;
    color: #25564b;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    color: #19536b;
  }
  .container .testi {
    padding: 160px 170px;
  }
  .container .testi h3 {
    padding-top: 0;
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    text-align: center;
    letter-spacing: 4px;
    color: #a7abae;
    text-transform: uppercase;
  }
  .container .testi .card_testi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .testi .card_testi #emily {
    padding-right: 2rem;
  }
  .container .testi .card_testi #jennie {
    padding-left: 1.5rem;
  }
  .container .testi .card_testi .isi_testi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4.5rem;
    padding: 0;
  }
  .container .testi .card_testi .isi_testi img {
    text-align: center;
    width: 4.5rem;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  .container .testi .card_testi .isi_testi p {
    text-align: center;
    color: #5a636c;
    font-size: 1.125rem;
    padding-bottom: 4rem;
  }
  .container .testi .card_testi .isi_testi h4 {
    font-weight: 900;
    text-align: center;
    color: #23303e;
    font-family: 'Fraunces', serif;
    font-size: 1.125rem;
  }
  .container .testi .card_testi .isi_testi h5 {
    font-size: .875rem;
    text-align: center;
    padding-top: 0.75rem;
    font-family: 'Barlow', sans-serif;
    color: #a7abae;
  }
  .container .gallery {
    margin-top: 0;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container .gallery .imgM {
    display: none;
  }
  .container .gallery .imgD {
    display: block;
    max-width: 100%;
  }
  .container .footer {
    padding-bottom: 5rem;
    padding-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #91d4c6;
  }
  .container .footer .logo {
    width: 170px;
    color: #25564b;
    fill: #25564b;
    margin-bottom: 2.5rem;
  }
  .container .footer .nav_butt {
    margin-bottom: 5.5rem;
  }
  .container .footer .nav_butt ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .footer .nav_butt ul li {
    list-style: none;
  }
  .container .footer .nav_butt ul li a {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #458c7e;
  }
  .container .footer .nav_butt ul li .services {
    padding: 0 3rem;
  }
  .container .footer .sosmed {
    padding: 0 400px;
    cursor: pointer;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .container .home .navbar {
    padding: 0;
  }
  .container .home .navbar .wrapper {
    padding: 45px 50px 0 40px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .container .home .navbar .wrapper .logo {
    position: relative;
    width: 170px;
    height: 35px;
    margin-right: 710px;
  }
  .container .home .navbar .wrapper .ham {
    display: none;
  }
  .container .home .navbar .wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
    padding: 0;
    margin-top: 45px;
    opacity: 1;
    visibility: visible;
    background-color: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .home .navbar .wrapper ul #arrow-left {
    display: none;
  }
  .container .home .navbar .wrapper ul li {
    list-style: none;
    margin-bottom: 0;
  }
  .container .home .navbar .wrapper ul li a {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: white;
  }
  .container .home .navbar .wrapper ul li .contact {
    background-color: white;
    padding: 20px 26px;
    border-radius: 30px;
    color: #5a636c;
  }
  .container .home .navbar .wrapper ul .li_con {
    margin-bottom: 0;
  }
  .container .home #bgM {
    display: none;
  }
  .container .home #bgD {
    display: block;
    width: 100%;
  }
  .container .home .isi_home h1 {
    font-size: 3.75rem;
    margin-bottom: 6rem;
    padding-top: 12.5rem;
  }
  .container #transform .imgD {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container #transform .isi_more {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .container .more {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .more .imgM {
    display: none;
  }
  .container .more .imgD {
    display: block;
    width: 100%;
    height: auto;
  }
  .container .more .isi_more {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding: 0 7rem 0 10rem;
    margin: auto;
  }
  .container .more .isi_more h2 {
    font-size: 39px;
    padding-bottom: 40px;
  }
  .container .more .isi_more p {
    padding-bottom: 46px;
    line-height: 1.7;
    font-size: 18px;
  }
  .container .more .isi_more a {
    font-size: 15px;
  }
  .container .more .isi_more .transform {
    bottom: -.125rem;
    left: 9.5rem;
  }
  .container .more .isi_more .stand {
    bottom: -.125rem;
    left: 9.5rem;
  }
  .container .wrap_graphicnphoto {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .wrap_graphicnphoto .graphicnphoto {
    width: 100%;
  }
  .container .wrap_graphicnphoto .graphicnphoto .imgM {
    display: none;
  }
  .container .wrap_graphicnphoto .graphicnphoto .imgD {
    display: block;
    width: 100%;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto {
    bottom: 0;
    z-index: 1;
    position: absolute;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto h2 {
    font-size: 1.75rem;
    color: #25564b;
  }
  .container .wrap_graphicnphoto .graphicnphoto .isi_graphicnphoto p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 3.75rem;
    padding-right: 192px;
    padding-left: 192px;
    color: #19536b;
  }
  .container .testi {
    padding: 160px 170px;
  }
  .container .testi h3 {
    padding-top: 0;
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    text-align: center;
    letter-spacing: 4px;
    color: #a7abae;
    text-transform: uppercase;
  }
  .container .testi .card_testi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .testi .card_testi #emily {
    padding-right: 2rem;
  }
  .container .testi .card_testi #jennie {
    padding-left: 1.5rem;
  }
  .container .testi .card_testi .isi_testi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4.5rem;
    padding: 0;
  }
  .container .testi .card_testi .isi_testi img {
    text-align: center;
    width: 4.5rem;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  .container .testi .card_testi .isi_testi p {
    text-align: center;
    color: #5a636c;
    font-size: 1.125rem;
    padding-bottom: 4rem;
  }
  .container .testi .card_testi .isi_testi h4 {
    font-weight: 900;
    text-align: center;
    color: #23303e;
    font-family: 'Fraunces', serif;
    font-size: 1.125rem;
  }
  .container .testi .card_testi .isi_testi h5 {
    font-size: .875rem;
    text-align: center;
    padding-top: 0.75rem;
    font-family: 'Barlow', sans-serif;
    color: #a7abae;
  }
  .container .gallery {
    margin-top: 0;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container .gallery .imgM {
    display: none;
  }
  .container .gallery .imgD {
    display: block;
    max-width: 100%;
  }
  .container .footer {
    padding-bottom: 5rem;
    padding-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #91d4c6;
  }
  .container .footer .logo {
    width: 170px;
    color: #25564b;
    fill: #25564b;
    margin-bottom: 2.5rem;
  }
  .container .footer .nav_butt {
    margin-bottom: 5.5rem;
  }
  .container .footer .nav_butt ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .footer .nav_butt ul li {
    list-style: none;
  }
  .container .footer .nav_butt ul li a {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #458c7e;
  }
  .container .footer .nav_butt ul li .services {
    padding: 0 3rem;
  }
  .container .footer .sosmed {
    padding: 0 638px;
    cursor: pointer;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=index.css.map */