@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  background-color: #fffcfa;
}

h2 {
  color: #23303e;
  font-size: 2rem;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

p {
  color: #818498;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 2rem;
  line-height: 1.7;
  font-size: 18px;
}

a {
  letter-spacing: 1px;
  color: #23303e;
  z-index: 1;
  font-size: 1rem;
  font-family: 'Fraunces', serif;
  text-decoration: none;
  color: black;
}

.container {
  min-height: 100vh;
  position: relative;
}

.container .navbar {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 2rem 1.5rem 0 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar ul {
  display: none;
}

.container .navbar ul li {
  list-style: none;
}

.container .navbar ul li a {
  text-decoration: none;
  color: white;
}

.container .navbar img {
  height: 100%;
  cursor: pointer;
}

.container .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  height: 33.625rem;
  position: relative;
  z-index: 0;
}

.container .home h1 {
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.4rem;
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
  padding-top: 9rem;
}

.container .home img {
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .home img:hover {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.container .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container .more img {
  width: 100%;
}

.container .more .isi_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4rem 1.5rem;
}

.container .more .isi_more .transform {
  opacity: 0.3;
  z-index: 0;
  background-color: #fad400;
  height: 10px;
  width: 136px;
  border-radius: 5px;
  position: absolute;
  bottom: 4rem;
}

.container .more .isi_more .stand {
  opacity: 0.3;
  z-index: 0;
  background-color: #fe7867;
  height: 10px;
  width: 136px;
  border-radius: 5px;
  position: absolute;
  bottom: 4rem;
}

.container .graphicnphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}

.container .graphicnphoto img {
  width: 100%;
}

.container .graphicnphoto .isi_graphicnphoto {
  bottom: 0;
  z-index: 1;
  position: absolute;
}

.container .graphicnphoto .isi_graphicnphoto h2 {
  font-size: 1.75rem;
  color: #25564b;
}

.container .graphicnphoto .isi_graphicnphoto p {
  font-size: 1rem;
  padding-bottom: 3.75rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  color: #19536b;
}
/*# sourceMappingURL=index.css.map */