@import "property";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    background-color: hsl(26, 100%, 99%);
}
.container {
    min-height: 100vh;
    position: relative;
    .navbar {
        z-index: 1;
        width: 100%;
        display: flex;
        position: absolute;
        padding: 2rem 1.5rem 0 1.5rem;
        justify-content: space-between;
        ul {
            display: none;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $White;
                }
            }
        }
        img {
            height: 100%;
        }
    }
    .home {
        display: flex;

        align-items: center;
        flex-direction: column;
        background-image: url('../images/mobile/image-header.jpg');
        background-size: cover;
        height: 33.625rem;
        position: relative;
        z-index: 0;
        h1 {
            text-align: center;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            text-transform: uppercase;
            color: $White;
            letter-spacing: 0.4rem;
            font-size: 2.5rem;
            margin-bottom: 3.125rem;
            padding-top: 9rem;
        }
        img {
            cursor: pointer;
            transition: 0.5s all ease;
        }
        img:hover {
            transform: translateY(2rem);
        }
    }
    .more {

        text-align: center;
        img {
            width: 100%;
        }
        .isi_more {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 4rem 1.5rem;
            h2 {
                font-size: 2rem;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                padding-bottom: 1.5rem;
            }
            p {
                color: $Dark_grayish_blue;
                font-family: 'Barlow', sans-serif;
                padding-bottom: 2rem;
            }
            a {
                z-index: 1;
                font-family: 'Fraunces', serif;
                text-decoration: none;
                color: black;
            }
            
            .transform {
                z-index: 0;
                background-color: $Yellow;
                height: 10px;
                width: 136px;
                border-radius: 5px;
                position: absolute;
                bottom: 4rem;
            }
            .stand {
                z-index: 0;
                background-color: $Soft_red;
                height: 10px;
                width: 136px;
                border-radius: 5px;
                position: absolute;
                bottom: 4rem;
            }
        }
    }
}

