@import "property";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    background-color: hsl(26, 100%, 99%);
}

h2 {
    color: $Very_dark_desaturated_blue;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    padding-bottom: 1.5rem;
}
p {
    color: $Dark_grayish_blue;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 2rem;
    line-height: 1.7;
    font-size: 18px;
}
a {
    font-weight: 900;
    letter-spacing: 1px;
    color: $Very_dark_desaturated_blue;
    z-index: 1;
    font-size: 15px;
    font-family: 'Fraunces', serif;
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    min-height: 100vh;
    position: relative;
    .home {
        z-index: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        // height: 33.625rem;
        position: relative;
        .navbar {
            z-index: 2;
            width: 100%;
            position: absolute;
            padding: 2rem 1.5rem 0 1.5rem;
            .wrapper {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                .aktif {
                    display: flex;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                ul {
                    
                    transform: translateY(-50px);
                    padding: 2.5rem 0;
                    background-color: $White;
                    margin-top: 4.5rem;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    flex-direction: column;
                    transition: 0.5s all ease;
                    #arrow-left {
                        top: -2rem;
                        right: 0;
                        position: absolute;
                        width: 0; 
                        height: 0; 
                        border-top: 50px solid transparent;
                        border-bottom: 50px solid transparent; 
                        border-right:50px solid $White; 
                    }
                    li {
                        list-style: none;
                        margin-bottom: 2.5rem;
                        a {
                            font-size: 18px;
                            font-family: 'Barlow', sans-serif;
                            text-decoration: none;
                            color: $Very_dark_grayish_blue;
                        }
                        .contact {
                            
                            background-color: $Yellow;
                            padding: 20px 26px;
                            border-radius:  28px;
                            
                        }
                    }
                    .li_con {
                        margin-bottom: 1rem;
                    }
                }
                .logo {
                    height: 100%;
                    cursor: pointer;
                }
                .ham {
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
        #bgM {
            display: block;
            width: 100%;
        }
        #bgD {
            display: none;
        }
        .isi_home {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1 {
                text-align: center;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                text-transform: uppercase;
                color: $White;
                letter-spacing: 0.4rem;
                font-size: 2.5rem;
                margin-bottom: 3.125rem;
                padding-top: 9rem;
            }
            #arrow {
                cursor: pointer;
                transition: 0.5s all ease;
            }
            #arrow:hover {
                transform: translateY(2rem);
            }
        }
        
    }
    .more {
        display: flex;
        flex-direction: column;
        text-align: center;
        .imgM {
            display: block;
            width: 100%;
        }
        .imgD {
            display: none;
        }

        .isi_more {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 4rem 1.5rem;
            .transform {
                opacity: 0.3;
                z-index: 0;
                background-color: $Yellow;
                height: 10px;
                width: 136px;
                border-radius: 5px;
                position: absolute;
                bottom: 3.875rem;
            }
            .stand {
                opacity: 0.3;
                z-index: 0;
                background-color: $Soft_red;
                height: 10px;
                width: 136px;
                border-radius: 5px;
                position: absolute;
                bottom: 3.875rem;
            }
        }
    }
    .wrap_graphicnphoto {
        display: flex;
        flex-direction: column;
        .graphicnphoto {
            position: relative;
            .imgM {
                display: block;
                width: 100%;
            }
            .imgD {
                display: none;
            }
            .isi_graphicnphoto {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                bottom: 0;
                z-index: 1;
                position: absolute;
                h2 {
                    
                    font-size: 1.75rem;
                    color: $Dark_desaturated_cyan;
                }
                p {
                    text-align: center;
                    font-size: 1rem;
                    padding-bottom: 3.75rem;
                    padding-right: 1.25rem;
                    padding-left: 1.25rem;
                    color: $Dark_blue;
                }
            }
        }
    }
    .testi {
        h3 {
            padding-top: 4rem;
            font-size: 1rem;
            font-family: 'Fraunces', serif;
            text-align: center;
            letter-spacing: 4px;
            color: $Grayish_blue;
            text-transform: uppercase;
        }
        .card_testi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .isi_testi {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 4.5rem;
                padding: 0 1.5rem;
                img {
                    text-align: center;
                    width: 4.5rem;
                    border-radius: 50%;
                    margin-bottom: 2rem;
                }
                p {
                    text-align: center;
                    color: $Very_dark_grayish_blue;
                    font-size: 1.125rem;
                }
                h4 {
                    font-weight: 900;
                    text-align: center;
                    color: $Very_dark_desaturated_blue;
                    font-family: 'Fraunces', serif;
                    font-size: 1.125rem;
                }
                h5 {
                    font-size: .875rem;
                    text-align: center;
                    padding-top: 0.75rem;
                    font-family: 'Barlow', sans-serif;
                    color: $Grayish_blue;
                }
            }
        }
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        margin-top: 5.5rem;
        .imgM {
            display: block;
            max-width: 100%;
        }
        .imgD {
            display: none;
        }
    }
    .footer {
        padding-bottom: 4.75rem;
        padding-top: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-color: hsl(167, 44%, 70%);
        
        .logo {
            width: 170px;
            color: $Dark_desaturated_cyan;
            fill: $Dark_desaturated_cyan;
            margin-bottom: 2.5rem;
        }
        .nav_butt {
            margin-bottom: 5.5rem;
            // padding: 0 2.375rem;
            ul {
                display: flex;
                li {
                    list-style: none;
                    a {
                        font-size: 1rem;
                        font-family: 'Barlow', sans-serif;
                        text-decoration: none;
                        color: $Dark_moderate_cyan;
                    }
                    .services {
                        padding: 0 3rem;
                    }
                }
            }
        }
        .sosmed {
            cursor: pointer;
            width: 100%;
            padding: 0 6.5rem;
            display: flex;
            justify-content: space-between;
        }
    }
}


@media screen and (min-width: 1000px) {
    .container {
        .home {
            .navbar {
                padding: 0;
                
                .wrapper {
                    padding: 45px 50px 0 40px;
                    justify-content: unset;
                    .logo {
                        position: relative;
                        width: 170px;
                        height: 35px;
                        margin-right: 710px;
                    }
                    .ham {
                        display: none;
                    }
                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;
                        position: relative;
                        padding: 0;
                        margin-top: 45px;
                        #arrow-left {
                            display: none;
                        }
                        opacity: 1;
                        visibility: visible;
                        background-color: unset;
                        flex-direction: row;
                        li {
                            list-style: none;
                            margin-bottom: 0;
                            a {
                                font-size: 20px;
                                font-family: 'Barlow', sans-serif;
                                text-decoration: none;
                                color: $White;
                            }
                            .contact {
                                background-color: $White;
                                padding: 20px 26px;
                                border-radius:  30px;
                                color: $Very_dark_grayish_blue;
                            }
                        }
                        .li_con {
  
                            margin-bottom: 0;
                        }
                    }
                }
                
            }
            #bgM {
                display: none; 
            }
            #bgD {
                display: block;
                width: 100%;
            }
            .isi_home {
                h1 {
                    font-size: 3.75rem;
                    margin-bottom: 6rem;
                    padding-top: 12.5rem;
                }   
            }
        }
        #transform {
            .imgD {

                grid-column: 2;
                grid-row: 1;
            }
            .isi_more {
                grid-column: 1;
            }
        }
        .more {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .imgM {
                display: none;
            }
            .imgD {
                display: block;
                width: 100%;
                height: auto;
            }
            .isi_more {
                align-items: unset;
                padding: 0 7rem 0 10rem;
                margin: auto;
                h2 {
                    font-size: 39px;
                    padding-bottom: 40px;
                }
                p {
                    padding-bottom: 46px;
                    line-height: 1.7;
                    font-size: 18px;
                }
                a {
                    font-size: 15px;
                }
                .transform {
                    bottom: -.125rem;
                    left: 9.5rem;
                }
                .stand {
                    bottom: -.125rem;
                    left: 9.5rem;
                }
            }
        }
        .wrap_graphicnphoto {
            flex-direction: row;
            .graphicnphoto {
                .imgM {
                    display: none;
                }
                .imgD {
                    display: flex;
                    width: 100%;
                }
                .isi_graphicnphoto {

                    bottom: 0;
                    z-index: 1;
                    position: absolute;
                    h2 {
                        font-size: 1.75rem;
                        color: $Dark_desaturated_cyan;
                    }
                    p {
                        text-align: center;
                        font-size: 1rem;
                        padding-bottom: 3.75rem;
                        padding-right: 192px;
                        padding-left: 192px;
                        color: $Dark_blue;
                    }
                }
            }
        }
        .testi {
            padding: 160px 170px;
            h3 {
                padding-top: 0;
                font-size: 1.5rem;
                font-family: 'Fraunces', serif;
                text-align: center;
                letter-spacing: 4px;
                color: $Grayish_blue;
                text-transform: uppercase;
            }
            .card_testi {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                #emily {
                    padding-right: 2rem;
                }
                #jennie {
                    padding-left: 1.5rem;
                }
                .isi_testi {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 4.5rem;
                    padding: 0;
                    img {
                        text-align: center;
                        width: 4.5rem;
                        border-radius: 50%;
                        margin-bottom: 3rem;
                    }
                    p {
                        text-align: center;
                        color: $Very_dark_grayish_blue;
                        font-size: 1.125rem;
                        padding-bottom: 4rem;
                    }
                    h4 {
                        font-weight: 900;
                        text-align: center;
                        color: $Very_dark_desaturated_blue;
                        font-family: 'Fraunces', serif;
                        font-size: 1.125rem;
                    }
                    h5 {
                        font-size: .875rem;
                        text-align: center;
                        padding-top: 0.75rem;
                        font-family: 'Barlow', sans-serif;
                        color: $Grayish_blue;
                    }
                }
            }
        }
        .gallery {
            margin-top: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .imgM {
                display: none;
            }
            .imgD {
                display: block;
                max-width: 100%;
            }
        }
    }
    
}
